div.text-box {
  width: 500px;
  background: url(https://s-media-cache-ak0.pinimg.com/originals/b6/b7/d7/b6b7d76fd1732efc4b728ce3dc3370c0.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}